.detailView
{
  border: black solid 2px;
  background-color: whitesmoke;
  width: 400px;
  min-height: 460px;
  margin-top: 25px ;
  margin-left: 30px;
}
button {
  margin-left: 20px;
  min-width: 100px;
}
