.detailView
{
  border: black solid 2px;
  background-color: whitesmoke;
  width: 400px;
  min-height: 460px;
  margin-top: 25px ;

}
button {
  margin-left: 20px;
  min-width: 140px;
  max-width: 140px;
}
.actionBox {
  border: 2px black solid;
  margin: 25px;
  padding: 15px;
}

