<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-navigation></app-navigation>
  <div class="row">
    <div class="col-lg-2">
      <app-tablelist></app-tablelist>
    </div>
    <div class="col-lg-2 offset-lg-5">
      <app-detailview></app-detailview>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <app-historyboard></app-historyboard>
    </div>

    <div class="offset-6">
      <app-export>hoi</app-export>
    </div>
  </div>


</div>



