<!--Table-->
<table class="table table-striped table-hover table-bordered w-auto">

  <!--Table head-->
  <thead>
  <tr>
    <th>#</th>
    <th>Coin</th>
    <th>ISDN</th>
    <th>Country</th>
    <th>Price</th>
    <th>Status</th>
    <th>Action</th>
    <th>online</th>
    <th>Generate </th>
    <th>Export</th>
    <th>Abmelden</th>
  </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
  <tr *ngFor=" let asset of getAssets()" class="table-hover" (click)="clicker(asset)">
    <td>{{asset.id}} </td>
    <td>{{asset.name}} </td>
    <td>{{asset.description}} </td>
    <td>{{asset.position}} </td>
    <td>{{asset.price}} </td>
    <td>{{asset.change}} </td>
    <td><fa-icon [icon]="faUser"></fa-icon></td>
    <td> <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div></td>
    <td> <button (click)="generatePdf(asset)" class="btn-outline-dark">Generate PDF</button></td>
    <td> <button (click)="generatePdf(asset)" class="btn-outline-dark">XLS</button></td>
    <td> <button (click)="abmelden(asset)" class="btn-danger"> ABMELDEN</button></td>
  </tr>

  </tbody>
  <!--Table body-->


</table>
<!--Table-->
